<!DOCTYPE html>
<html>
<head>
    <title>Add Abhyasika</title>
</head>
<body>

<h1>Add Abhyasika</h1>

<form method="POST">

    <p>
        Name:
        <input
            type="text"
            name="name"
            required
        >
    </p>

    <p>
        Location:
        <input
            type="text"
            name="location"
        >
    </p>

    <p>
        Type:

        <select name="type">

            <option value="daily">
                Daily
            </option>

            <option value="weekly">
                Weekly
            </option>

        </select>

    </p>

    <button type="submit">
        Save
    </button>

</form>

</body>
</html>