<!DOCTYPE html>
<html lang="mr">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <meta
        name="description"
        content="Printable Reports - Shri Laxmikeshav Pratishthan, Satara"
    >

    <title>

        {% block title %}
        Print Report
        {% endblock %}

    </title>

    <!-- Google Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Mukta:wght@400;500;600;700&display=swap"
        rel="stylesheet"
    >

    <!-- Print CSS -->

    {% block css %}
    {% endblock %}

</head>

<body>

    {% block content %}
    {% endblock %}

</body>

</html>